.mainTitle{
    font-size: 80px;
}

.container{
    margin-bottom: 10px;
    
}
.headTitle{
    margin: 20px 0;
}

.items{
    display: flex;
    gap: 50px;
}
.item{
    border: 3px solid #bbb;
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 3px;
    background-size: cover !important;
}
.item:nth-child(1){
    background: url("/illustration.png");
}
.item:nth-child(2){
    background: url("/websites.jpg");
}
.item:nth-child(3){
    background: url("/apps.jpg");
}


.title{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 19px;
}

.item:hover .title{
    color: aqua;
    transform: scale(1.2) ;
}

